<ion-modal-view>
   <ion-nav-bar class="color-bar">
		<button class = "button button-clear icon ion-android-arrow-back" side="primary" style="color:#fff;">
		</button>
	</ion-nav-bar>
	
   <ion-content style="text-align: center;margin: 30px 0 0 0; color: #777;" class="has-header">
			<h4 style="margin-top: 30px; font-size: 1.2em;">Hey</h4> 
      <h2 style="font-size: 5em;margin: 5px;">{{ currentusername }}</h2>
			<button class="button button-full button-assertive" style="margin-top: 50px;" ng-click="logout()">
				Logout
			</button>
   </ion-content>
</ion-modal-view>